* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* backgorund of page */
body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(135deg, #92374d, #351d1c); 
    color: #fdefed; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

/* bavigation Bar */
nav {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #351d1c;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fdefed;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #f3f6f4;
    transform: translateY(-5px);
}


#landing {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin-top: 60px; 
    padding: 20px;
    color: #fdefed;
}

#landing h1 {
    font-family: 'Anton', sans-serif;
    font-size: 90px;
    color: #fbefed;
    margin-top: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-out;
}

#landing h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    color: #fbefed;
    opacity: 0;
    animation: fadeIn 2s ease-out 1s forwards; }

#landing .intro {
    font-size: 24px;
    color: #f3f6f4;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 0;
    animation: fadeIn 2s ease-out 0.5s forwards; 
}

#landing .call-to-action {
    font-size: 20px;
    margin-top: 20px;
    color: #fbefed;
    opacity: 0;
    animation: fadeIn 2s ease-out 1.5s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* responsive to changes */
@media (max-width: 768px) {
    #landing h1 {
        font-size: 70px;
    }

    #landing h2 {
        font-size: 28px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 16px;
        margin: 5px 0;
    }

    #landing .intro {
        font-size: 18px;
    }

    #landing .call-to-action {
        font-size: 18px;
    }
}